{% extends 'history/base.html' %}
{% load static %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<div class="pagetitle">
    <h1>Импорт данных</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Домой</a></li>
            <li class="breadcrumb-item active">Импорт данных</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Параметры импорта данных</h5>

                    <!-- Обязательно добавление параметра enctype при загрузке файла -->
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table>
                            {{ form }}
                        </table>

                        <div class="row mb-3">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Загрузить данные</button>
                            </div>
                        </div>

                    </form><!-- End General Form Elements -->

                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}